@media(max-width: 633px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* header {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    header {
        background-color: #4d7d36;
        height: 94px;
        font-size: 20px;
        font-weight: regular;
        width: 100%;
        max-width: 691px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .big {
        width: 100%;
    }
    a{
        display: none;
    }

    .small {
        width: 90%;
        ;
        margin: 0 auto;
    }

    img.menu-icon {
        height: 28px;
        width: 28px;
        margin: 0px;
    }

    img.main-logo {
        height: 70px;
        margin: 0px;
    }

    /* header div.logo img{
        display: flex;
        justify-content: space-between;
    } */

    div.logo img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* align-items: stretch */
    }

    div.logo {
        width: 100%;
        max-width: 691px;
    }

    div.infor-container {
        display: none;
    }

    div.in4 {
        display: none;
    }

    img.search {
        height: 28px;
        width: 28px;
        margin: 0px;
    }

    .title.container {
        padding: 0px;
        height: 70px;
    }

    h2.title {
        display: none;
        padding-top: 39px;
    }

    h2.title:first-child {
        display: block;
        padding-bottom: 0px;
    }


    nav ul li a {
        display: none;
    }

    /* .search-container {
        display: none;
        width: 29vw;
        height: 3vh;
    } */
    /* div.search-container{
        display: none;
     } */
    /* input.search-input{
        display: none;
    } */
    /* img.search{
        display: block;
        height: 7vw;
        width: 7vw;
    } */
    /* .search-button{
        display: block;
    } */

    h2.title {
        padding: 39px 0px;
    }

    /* .infor-container {
        display: flex;

        align-items: center;
        margin: 10px;
    } */

    /* .in4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 10px;
    } */
    /* .in4:first-child {
        display: none;
    } */
    /* 
    .phone {
        width: 40px;
        margin-right: 10px;
    }


    .title {
        font-size: 24px;
        padding: 5px;
    } */

    /* .table-container {
        font-size: 16px;
    } */
    .table-container{
        width: 100%;
    }

    div.table-a {
        width: 100%;
        max-width: 691px;
        min-width: 200px;
        margin: 0 auto;

    }

    div.table-a th {
        font-size: 16px;
        padding: 0px;
        height: 34px;
    }
    div.table-a th.product-title {
        font-size: 16px;
        padding: 0px;
        height: 34px;
    }

    .table-1 {
        width: 100%;
        max-width: 691px;
        margin: 0;
    }
    table td:nth-child(2),
    table th:nth-child(2),
    table td:nth-child(4),
    table th:nth-child(4) {
      display: none;
    }
    div.table-a img.product-img{
        width: 46px;
        height: 46px;
    }



    /* .table-1 th:nth-child(3), */
    .table-1 td:nth-child(3),
    /* .table-1 th:nth-child(4), */
    .table-1 td:nth-child(4) {
        width: 25%;
        /* Tăng chiều rộng 2 cột cuối */
    }

    div.table-b {
        width: 100%;
        max-width: 691px;
        padding-left: 10px;
        /* margin-top: 20px; */
    }

    .table-2 {
        margin-left: 0;
    }
    .table-2 td.price{
        display: block;
        height: 65px;
    }

    tbody {
        font-size: 2vw;
    }

    th {
        font-size: 16px;
    }

    .table-a td.count {
        font-size: 15px;
        height: 70px;
        gap: 0px;
    }
    td.product p:last-child {
        display: block;
    }
    th.product-title {
        font-weight: normal;
        background-color: white;
        padding-top: 10px 0;
        font-size: 16px;
    }
    p{
        font-size: 15px;
    }
    td.text-price {
        font-size: 15px;
        padding: 0;
        height: 46px;
    }
    .table-b td.product{
        font-size: 15px;
        height: 70px;
    }
    td, th {
        background: none !important; /* Loại bỏ nền */
      }

    /* .td{
        padding: 10px;
        font-size: 2.3vw;
      } */

    .quantity-btn {
        font-size: 20px;
        width: 20px;
        height: 20px;

        /* display: inline-block; */
        /* justify-content: space-around; */
    }

    .text-price {
        font-size: 2.3vw;
    }

    /* button.checkout-btn {
        width: 160px;
        margin: 25px 110px 25px 110px;
        font-size: 18px;
        display: block;
    } */
    /* .backpage-btn {
        width: 160px;
        margin: 25px 110px 0 110px;
        font-size: 18px;
        display: block;
    } */

    td {
        padding: 10px;
        font-size: 15px;
    }
    tr {
        height: 70px;
    }

    /* Footer */
    footer {
        height: 99px;
        padding: 20px;
        /* flex-direction: column; */
        text-align: l;
        gap: 15px;
    }
    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 23px 18px;
    }
    p.footer-title {
        font-size: 13px;

    }

    p.footer {
        font-size: 11px;
        padding-top: 7px;
        line-height: 8px;
    }

    #about {
        display: none;
    }    
    }

   

