@media(max-width: 413px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 3vw;
    }
    /* header {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    header {
        background-color: #4d7d36;
        height: 100px;
        font-size: 20px;
        font-weight: regular;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding-left: 5vw; */
      }
    .big{
        width: 100%;
    }
    .small{
        width: 90%;;
        margin: 0 auto;
    }
    div.logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo.img {
        height: 7vh;
        width: auto;
    }
    img.search{
        display: block;
        width: 2vw;
        height: 2vw;

    }
    .title.container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    h2.title{
        font-size: 2.65vw;
        font-weight: regular;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        margin: 15px 6px;
    }

    nav ul li a {
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* .search-container {
        display: none;
        width: 29vw;
        height: 3vh;
    } */
     div.search-container{
        display: none;
     }
    input.search-input{
        display: none;
    }
    img.search{
        display: block;
        width: 25px;
        height: 25px;
    }
    .search-button{
        display: block;
    }


    .infor-container {
        display: flex;

        align-items: center;
        margin: 10px;
    }

    .in4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 10px;
    }
    .in4:first-child {
        display: none;
    }
    .table-container{
        padding: 10px 0;
    }
    .phone {
        width: 40px;
        margin-right: 10px;
    }


    .title {
        font-size: 24px;
        padding: 5px;
    }

    .table-container {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }

    div.table-a {
        width: 100%;

    }

    .table-1 {
        font-size: 18px;
        margin-left: 0;
    }



    
    /* .table-1 th:nth-child(3), */
    .table-1 td:nth-child(3),
    /* .table-1 th:nth-child(4), */
    .table-1 td:nth-child(4) {
      width: 25%; /* Tăng chiều rộng 2 cột cuối */
    }

    div.table-b {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .table-2 {
        margin-left: 0;
    }

    tbody {
        font-size: 2vw;
    }

    th{
        font-size: 2.8vw;
        font-weight: regular;
    }
    .table-a.td.product {
        font-size: 2vw;
        padding: 15px;
        display: flex;
    }
    td.product {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 2.3vw;
      }
      
    /* .td{
        padding: 10px;
        font-size: 2.3vw;
      } */
       
    .quantity-btn {
        font-size: 2.4vw;
        width: 3vw;
        height: 24px;
        padding: 4px;
        /* display: inline-block; */
        /* justify-content: space-around; */
    }
    .text-price{
        font-size: 2.3vw;
    }
    button.checkout-btn {
        width: 220px;
        margin: 25px auto;
        font-size: 18px;
        display: block;
    }

    .backpage-btn {
        width: 220px;
        margin: 20px auto;
        font-size: 18px;
        display: block;
    }
    td{
        padding: 10px;
        font-size: 2.4vw;
    }

    /* Footer */
    footer {
        height: auto;
        padding: 20px;
        /* flex-direction: column; */
        text-align: l;
        gap: 15px;
    }

    p.footer-title {
        font-size: 20px;
        margin-top: 10px;
    }

    p.footer {
        font-size: 16px;
        padding-top: 8px;
    }
    #about{
        display: none;
    }
}
