* {

  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /* max-width: 1728px; */
  margin: 0;
}


body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: #333;
}

header {
  background-color: #4d7d36;
  height: 150px;
  font-size: 20px;
  font-weight: normal;
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px
}

img.menu-icon {
  display: none;
}

.big {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
}

div.logo {
  width: 100%;
  max-width: 1455px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.logo img {
  height: 115px;
  /* margin: 0 57px; */
}

img.search {
  display: none;
}

img.phone {
  width: 53px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-around; */
}

nav ul li {
  display: flex;
  justify-content: space-between;

}

a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  display: flex;
  white-space: nowrap;
  margin-right: 15px;
  flex-wrap: nowrap;
}

/* nav.nav{
  width: 100%;
  max-width: 817px;
} */
nav ul li a {
  color: #fff;
  font-size: 24px;
  margin-right: 3vw;
  text-decoration: none;

  /* font-weight: regular; */
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: nowrap;
}

#1 {
  margin-right: 0;
}

.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.search-container {
  display: flex;
  width: 100%;
  max-width: 389px;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 8px 16px;
  /* width: 22.4vw; */
  /* max-width: 389px; */
  /* min-width: 389px; */
  height: 44px;
  position: relative;
  /* margin-right: 180px; */
}
 @media screen and (max-width: 1024px) {
  div.search-container {
    display: none;
  }
  img.search{
    display: block;
    color: white;
    width: 24px;
    height: 24px;

}
  
 }

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
  padding: 8px 0;
  width: 100%;
}

.search-input::placeholder {
  color: #999;
}

.search-button {
  opacity: 0.3;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
  position: absolute;
  right: 20px;

}

.search-button img {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.contact-info {
  color: #fff;
}

.infor-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1112px;
  /* padding: 56px 308px 66px 308px; */
  margin: 54px auto 0px;
  padding: 0 100px;

}

.in4 {
  /* padding: 10px; */
  /* margin-left: 258px; */
  display: flex;
  align-items: flex-end;
  height: 56px;
  line-height: 28px;
}

.phone {
  margin-right: 18px;
  width: 63px;
  align-items: baseline;
  flex-direction: row-reverse;
  height: 56px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1197px;
  /* margin: 56px auto 0px; */
  padding: 56px 56px 0px 56px;
  margin: 0 auto;
}

.title {
  font-size: 2.1vw;
  font-weight: regular;
  /* padding: 0 10px; */
  color: rgba(0, 0, 0, 0.3);

}

h2.title {
  font-size: clamp(30px, 2vw, 36px);
  /* font-size: max(36px); */
  font-weight: normal;
  /* padding: 0px 20px; */
  color: rgba(0, 0, 0, 0.3);

}

h2.title:first-child {
  color: black;
}

main {
  padding: 40px;
}

.table-container {
  /* padding: 89px 202px 0px 202px; */
  display: flex;
  justify-content: space-between;
  /* gap: 130px; */
  width: 100%;
  max-width: 1292px;
  margin: 85px auto 0px;
  padding: 0 30px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: 10%;
}


th,
td {
  /* padding: 10px 0; */
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #ddd;
  line-height: 63px;
}

.table-1 th {
  background-color: white;
  font-weight: regular;
}

th.product-title {
  font-weight: normal;
  background-color: white;
  text-align: left;
  line-height: 140%;
}

td.product {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

div.table-a {
  /* padding-left: 137px; */
  width: 100%;
  max-width: 740px;
  min-width: 683px;
  font-size: 24px;
  margin-right: 15px ;
  /* font-weight: regular; */
  /* margin-right: 124px; */
}

tr {
  border-bottom: 2px solid black;
}

.table-1 {
  width: 100%;
  font-size: 24px;
  font-weight: regular;
  padding: 0px;
  margin: 0px;
}

th.product-title1 {
  font-weight: normal;
  background-color: white;

}

th.product-title2 {
  font-weight: normal;
  background-color: white;

}

th.product-title3 {
  font-weight: normal;
  background-color: white;

}

tbody {
  font-size: 20px;
  font-weight: regular;
}

td.product p:last-child {
  display: none;
}

div.table-b {
  /* padding-left: 10vw; */
  width: 100%;
  max-width: 410px;
  font-size: 24px;
  font-weight: normal;

}

.table-2 {
  width: 100%;
  font-size: 24px;
  font-weight: regular;
  padding: 0px;
  margin: 0px;
}

.table-2 tr {
  height: 51px;
}

.table-2 tr:first-child {
  height: 63px;
}

.table-2 td.text-price {
  text-align: left;
  font-size: 20px;
  height: 55px;
  padding: 0px;
  /* padding: 20; */
}

.table-2 th,
td {
  padding: 0px;
}

.price {
  text-align: right;
}

.quantity-btn {

  width: 1vh;
  height: 24px;
  padding: 4px;
  display: inline-block;
  text-align: left;
  border: none;
  background-color: white;
  padding: 0.8vw;
}

.count {
  padding-top: 0;
  padding-bottom: 20px;
}

.total-price {
  text-align: center;
  font-weight: regular;
}

button.checkout-btn {
  height: 48px;
  background-color: #4d7d36;
  font-size: 18px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 221px;
  margin: 54px auto 0;
  display: block;
  border-radius: 8px;
  text-align: center;
}

.backpage-btn {
  background-color: #4d7d36;
  color: #fff;
  font-size: 18px;
  border: none;
  width: 221px;
  height: 48px;
  border-radius: 8px;
  margin: 60px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}




p.footer-title {

  font-size: 24px;
  font-weight: regular;
}

p.footer {
  font-size: 24px;
  line-height: 35px;
}
footer {
  background-color: #4d7d36;
  height: 167px;
  font-size: 20px;
  align-items: center;
  color: white;
  display: flex;
  width: 100%;
  max-width: 1728px;
  margin: 60px auto 0;
  padding: 0 20px;

}
footer > div{
  display: flex;
  width: 100%;
  max-width: 1299px;
  margin: 0 auto;
  justify-content: space-between;
}
p.footer{
  font-size: 20px;
  line-height: 140%;
}
p.footer-title{
  font-size: 24px;
  line-height: 140%;
}