@media(max-width: 967px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-size: 3vw; */
    }
    /* header {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    header {
    background-color: #4d7d36;
    height: 150px;
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px
      }
    .big{
        width: 100%;
        max-width: 967px;
        margin: 0;

    }
    .small{
        width: 90%;;
        margin: 0 auto;
    }
    img.menu-icon{
  display: none;
    }
    div.logo {
        width: 100%;
        max-width: 898px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
      }
    a {
        color: #fff;
        font-size: 18px;
        text-decoration: none;
        display: flex;
        white-space: nowrap;
        margin-right: 10px;
        flex-wrap: nowrap;
      }
    img.search{
        display: block;
    }
      /* @media screen and (max-width: 685px) {
        a{
            display: none;
        }
        img.menu-icon {
            display: block;
            width: 25px;
            height: 25px;
            margin: 0px;
        }
      }
     */
    img.search{
        display: block;
        color: white;
        width: 2vw;
        height: 2vw;
        margin: 0px;

    }
    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 734px;
        /* margin: 56px auto 0px; */
        padding: 54px 0;
        margin: 0 auto;
      }
      @media screen and (max-width: 744px) {
        h2.title{
            display: none;
        }
        h2.title:first-child {
            display: block;
            padding-bottom: 0px;
        }
      }
    h2.title{
        font-size: 24px;
        font-weight: regular;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0px 6px;
    }
    @media screen and (max-width: 744px) {
        h2.title{
            display: none;
        }
        h2.title:first-child {
            display: block;
            padding-bottom: 0px;
            width: 100%;
            padding: 54px 0;
            
        }
        .title-container{
            width: 100%;
            max-width: 744px;
            text-align: center;
            margin: 0 auto;
            padding: 0;
        }

      }
    nav ul li a {
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 21px;
    }

    /* .search-container {
        display: none;
        width: 29vw;
        height: 3vh;
    } */
     div.search-container{
        display: none;
     }
    input.search-input{
        display: none;
    }
    img.search{
        display: block;
        width: 25px;
        height: 25px;
    }
    .search-button{
        display: block;
    }


    .infor-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        width: 100%;
        max-width: 967px;
        /* min-width: 450px; */
        margin: 26px auto 0;
        padding: 0 20px;

    }
    p{
        font-size: 20px;
        /* white-space: nowrap; */
        line-height: 140%;

    }
    div.in4{
        padding-right: 10px;
    }
    .in4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

    }

    .in4:first-child {
        display: none;
    }
    .table-container{
        padding: 10px 0;
        gap: 0px;
    }
    img.phone{
        width: 55px;
    }


    .title {
        font-size: 24px;
        padding: 5px;
    }

    .table-container {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0 auto;
        width: 100%;
        max-width: 967px;
        min-width: 400px;
    }
    div.table-a {
        width: 100%;
        max-width: 728px;
        min-width: 400px;
        margin: 0;
        padding: 20px;
        gap: 0px;
        table-layout: auto;

    }
    th.product-title {
        font-weight: normal;
        background-color: white;
        padding-top: 10px 0;
        font-size: 24px;
    }

    .table-1 {
        font-size: 18px;
        margin-left: 0;
        gap: 0px;
        
    }

    .total-price{
        padding: 10px 0px;
        text-align: left;
    }

    
    /* .table-1 th:nth-child(3), */
    .table-1 td:nth-child(3),
    /* .table-1 th:nth-child(4), */
    .table-1 td:nth-child(4) {
      width: 25%; /* Tăng chiều rộng 2 cột cuối */
    }

    div.table-b {
        width: 100%;
        max-width: 728px;
        margin: 0;
        padding: 0 20px;
        gap: 0px;
        table-layout: auto;

    }

    .table-2 {
        margin-left: 0;

    }
    .table-2 tr:first-child{
        height: 56px;
    }


    tbody {
        font-size: 2vw;
    }

    th{
        font-size: 24px;
        font-weight: no;
    }
    th.product-title1 {
        text-align: left;
        font-size: 24px;
    }
    .table-a td.product {
        font-size: 20px;
        padding: 0px;
        display: flex;
        text-align: left;
    }
    td.product {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 2.5vw;
      }
    .table-1 td{
        height: 95px;
        font-size: 20px;
    }
    .table-2 td{
        height: 52px;
    }
    .count{
        padding: 10px;
    }
      
    /* .td{
        padding: 10px;
        font-size: 2.3vw;
      } */
       
    .quantity-btn {
        font-size: 20px;
        width: 3vw;
        height: 24px;
        padding: 4px;
        /* display: inline-block; */
        /* justify-content: space-around; */
    }
    .text-price{
        font-size: 2.5vw;
        padding: 10px 0;
    }
    /* button.checkout-btn {
        width: 220px;
        margin: 41px 256px 33px 256px;
        font-size: 18px;
        display: block;
    } */

    /* .backpage-btn {
        width: 214px;
        margin: 38px 264px 0px 264px;
        font-size: 18px;
        display: block;
        /* margin-bottom: 10px; */
    } */
    td{
        padding: 10px;
        font-size: 2.4vw;
    }

    /* Footer */
    footer {
        height: 95px;
        padding: 20px;
        /* flex-direction: column; */
        text-align: l;
        gap: 15px;
    }
    #about{
        display: none;
    }
    .address{
        margin: 0px;
        padding: 0px;

    }
    .contact{
        margin: 0px;
        padding: 0px;
    }
    p.footer-title{
        font-size: 16px;
        margin: 0px;
        line-height: 140%;
    }
    p.footer{
        font-size: 15px;
        padding: 0px;
        line-height: 140%;
    }
    footer{
        display: flex;
        justify-content: center;
        gap: 305px;
    }

}
